.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333; /* Cor de fundo escura */
}

.App-header {
  padding: 20px;
}

.big-name {
  font-size: 48px; /* Tamanho grande do nome Tássio */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 5px; /* Espaçamento inferior */
}

.last-name {
  color: #cccccc; /* Cor do sobrenome */
}

p {
  color: #cccccc; /* Cor do texto do parágrafo */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaçamento entre a apresentação e os botões */
}

.icon {
  width: 20px; /* Ajusta o tamanho do ícone */
  height: 20px; /* Ajusta o tamanho do ícone */
}

.github-button,
.linkedin-button {
  background-color: transparent;
  border: none; /* Removendo as bordas */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 0 10px; /* Espaçamento entre os botões */
}

.github-button:hover,
.linkedin-button:hover {
  background-color: #ffffff;
  color: #333333;
}

.email-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Espaçamento entre a apresentação e a caixa de email */
}

.email-input {
  background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo transparente */
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px; /* Espaçamento entre a caixa de email e o botão de copiar */
}

.copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.copy-button:hover {
  transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}
